body {
	font-family:sans-serif;
}
img {
	margin:0;
	border:0;
}
a {
	font-weight:normal;
	text-decoration:none;
	color:black;
	/*padding:3px;
	border-radius:4px;*/
}
a:hover {
	text-decoration:underline;
	/*background-color:rgba(0,127,255,0.3);*/
}
h1 {
	border-top:solid 1px #a0a0a0;
	color:gray;
}
table {
	font-size:16px;
	border-collapse:collapse;
}
td,th {
	vertical-align:middle;
	text-align:left;
	border-top:solid white 1px;
	padding:8px;
}
td img {
	max-height:32px;
}
iframe {
	padding:0;
	border:0;
	height:400px;
	overflow:auto;
}
body {
	font-family:sans-serif;
	margin:0;
	padding:0;
	border:0;
	top:0;
	left:0;
	width:100%;
	background-image:url('pics/lookout-mtn.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color:black;
}
.icon-char {
	font-weight:normal;
	font-family:serif;
	color:gray;
	font-size:32px;
	width:40px;
}
.icon-char a {
	color:gray;
	font-size:32px;
	text-decoration:none;
}
.icon-char a:hover {
	text-decoration:underline;
}
.td-center {
	padding-left:24px;
	text-align:center;
}
.no-top-border td,div {
	border-top:0;
}
.large-link {
	font-size:32px;
	padding-right:24px;
}
.small-link {
	font-size:16px;
	padding-right:24px;
}
.sub-link {
	font-size:12px;
}
.small-link a {

}
.main {
	max-width:1200px;
	padding-top:48px;
}
.content {
	display:inline-block;
	border-bottom:none;
	vertical-align:top;
	padding: 0px;
	margin: 16px 8px 4px 8px;
	overflow:auto;
	background-color:rgba(255,255,255,0.8);
}
.navigation {
	width:100%;
	font-size:24px;
	/*height:48px;*/
	margin:0;
}
.navigation td {
	border:0;
	text-align:center;
	vertical-align:middle;
	background-color:rgba(255,255,255,0.8);
	/*padding: 8px 16px 8px 16px;*/
}
.navigation .icon-char {
	width:200px;
}
/*.navigation img {
	border:0;
	max-height:24px;
	max-width:24px;
	vertical-align:middle;
	margin-bottom:4px;
}
*/
